---
import "../styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/godot/index.icon.png" />
    <link rel="apple-touch-icon" href="/godot/index.apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#111111" />
    <slot name="head" />
  </head>
  <body class="bg-black text-white m-0 overflow-hidden">
    <slot />
    <script is:inline>
      if (location.hostname === "localhost") {
        setInterval(() => {
          fetch('/godot/index.pck', { cache: 'no-store' })
            .then(res => res.headers.get('last-modified'))
            .then(modified => {
              if (window.lastGodotBuild && window.lastGodotBuild !== modified) {
                location.reload();
              }
              window.lastGodotBuild = modified;
            });
        }, 2000);
      }
    </script>
  </body>
</html>
