---
import AuthPanel from "@/components/AuthPanel";
import Base from "@/layouts/Base.astro";
---

<Base title="Account – EMS Sim">
  <div class="flex items-center justify-center h-screen">
    <AuthPanel serverUser={Astro.locals.user} client:load />
  </div>
</Base>
